<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="RollingLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd MMM yyyy HH:mm:ss} (%level) %logger %message%newline" />
			</layout>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="errors@me.com" />
			<from value="log@logmail.log" />
			<subject value="Log message" />
			<smtpHost value="MySMTPServer" />
			<bufferSize value="1024" />
			<lossy value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline%newline Logger details: %date{dd MMM yyyy HH:mm:ss} %logger%newline%newline" />
			</layout>
		</appender>
		<!--ALL DEBUG INFO WARN ERROR FATAL OFF-->
		<root>
			<level value="OFF" />
		</root>
		<logger name="Log4NetExamples.ConsoleApplication1">
			<level value="INFO" />
			<appender-ref ref="RollingFileAppender" />
		</logger>
		<logger name="EmailLogger">
			<level value="ERROR" />
			<appender-ref ref="SmtpAppender" />
		</logger>
	</log4net>
</configuration>